# vim swp files
.*.swp

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binary files
/chord

# protocol buffers
*.pb.go
